.button {
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;

    @media (max-width:640px) {
        display: flex;
        align-items: center;
        width: auto;
        text-align: center;

            &--primary {
        color: #fff;
        background-color: #4f2ac3;
        border-radius: 8px;
    }
    }

    @media (max-width: 1024px) {
        display: flex;
        align-items: center;
        text-align: center;

    }

    &--primary {
        color: #fff;
        background-color: #4f2ac3;
        border-radius: 8px;
    }
}