.event {
    background-color: red;
    padding: 80px 0;

    .container {
        background-color: yellow;
        display: flex;
    }

    &__image {
        max-width: 360px;
    }

    &__details {
        margin-right: 40px;

        &__title {
            font-size: 18px;
            font-weight: bold;
        }
        &__description {
            font-size: 16px;
            line-height: 22px;
        }
    }
}