.event {
    background-color: #442bdb;
        background-image: linear-gradient(180deg, #1b6ca7, transparent); //para gradiente 
    padding: 80px 0;

    .container {
        display: flex;
    }

    &__image {
        max-width: 360px;
    }

    &__details {
        margin-right: 40px;

        margin-right: 40px;

        &__title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
        }
        &__description {
            font-size: 16px;
            line-height: 22px;
        }
    }

    @media (max-width: 640px) {
        .container {
            display: block;
        }
        &__image {
            width: 100%;
        }
        &__details {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
}